/*MAIN CSS*/
.title, .main__price, .main__content, .gallery {
   display: flex;
}
.main__conteiner > *{
   margin-bottom: calc($index *4);
}
.title {
   justify-content: center;
   align-items: center;
   
    img {
      width: calc($index * 2.5);
   }

}
.main__content {
   justify-content: space-between;
   flex-wrap: wrap;
   @media (max-width: 481px){
      justify-content: center;
   }

   column-gap: calc($index * 2);

   .main__content-block {
      position: relative;
      text-align: left;
      background-color: #1B1B1B;
      border-radius: 40px;
      margin: calc($index * 2) 0;
      flex: 1 0 480px;
      padding: calc($index * 1.1);
      @media (max-width: 767px){
         flex: 0 1 100%;
      }
      .main__icon {
         text-align: center;
         margin-bottom: calc($index * 1.3);
         img{
            margin-bottom: 5px;
         }
      }
      
   }
}

// Portfolio

.gallery {
   column-gap: calc($index * 2);
   @media (max-width: 767px){
      flex-wrap: wrap;
   }
}

.gallery > * {
	flex: 1;
	text-align: center;
}

.gallery__item {
	max-width: calc($index * 21);
   width: 100%;
	margin: calc($index * 2) 0;
	max-height: 180vh;
	border-radius: 8px;
}


.text-block.gallery__item {
	margin: calc($index * 2) auto;
   text-align: left;
}

//price

.main__price {
   flex-direction: column

}
table{
   background-color: #1B1B1B;
   border-collapse: collapse;
   border-radius: 10px;
   margin: calc($index * 2) 0;
}

td, th {
   padding: 10px;
}
th {
   text-align: left;
}
tr{
   transition: 0.5s all ease;
   cursor: default;
}
tr:nth-child(2n){
  background-color: rgba($color: #c2c2c2, $alpha: 0.2) ; 
}





