@import "_mixin";
//  MAIN CSS

$max-width: 1440;
$index: calc(1vw + 1vh);

._conteiner {
   width: 100%;
   max-width: $max-width + px;
   padding: 0 15px;
   margin: 0 auto;
   
}
html{
   overflow-x: hidden;
}
body {
   position: relative;
   font-size: calc(($index) * 0.8);
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	overflow-x: hidden;
   line-height: 1.75;
   @media (max-width: 481px){
      font-size: calc(($index) * 1);
   }
}
h1{
   font-size: calc($index * 4);
}
h2 {
   &:not(.text-block h2){
      margin-left: 15px;
   }
   font-size: calc((1vw + 1vh) * 1.7);
   font-weight: 800;
}
h3{
   font-size: calc($index * 1.4);
}
h4{
   font-size: calc(($index) * 1.1);
}
h5 {
   font-size: calc(($index) * 0.8);
}
body::-webkit-scrollbar {
   width: 0;               
 }
 body::-webkit-scrollbar-track {
   background-color: rgba(0, 0, 0, 0);;        
 }
 body::-webkit-scrollbar-thumb {
   background-color: rgba(255, 255, 255, 0.5);    
   border-radius: 20px;       
   border: 3px solid orange;  
 }

 html:not(.touch){
   .footer__social{
      a {
         transform: scale(1 , 1) translateY(0);
         transition: 0.3s all ;
         
         &:hover{
            transform: scale(0.95, 0.95) translateY(-5px);
         }
      }
   }   
   .footer__title{
      &:hover{
         h4 {
            :nth-child(1){
               margin-left: -2vw;
            }
            :nth-child(2){
               margin-left: 7vw;
            }
         }
      }
   }
   tr:nth-child(2n):hover{
      background-color: rgba($color: #c2c2c2, $alpha: 0.5) ; 
    }
   tr:nth-child(odd):hover{
      background-color: rgba($color: #272727, $alpha: 0.5) ; 
    }
}

@import "_header";
@import "_main";
@import "_footer";


